@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/helveticaneue.woff2") format("woff2");
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: linear-gradient(
    135deg,
    rgba(255, 0, 150, 0.6),
    rgba(0, 204, 255, 0.6)
  );
  background-size: 200% 200%;
  animation: gradientAnimation 8s ease infinite;
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  padding: 14px 16px;
}

main.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.centered-content {
  max-width: 600px;
}

footer.table {
  padding: 20px;
  background-color: #f8f9fa;
  border-top: 1px solid #ddd;
  width: 100%;
  margin-top: auto;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  word-wrap: break-word;
}

table th {
  background-color: #f0f0f0;
}

section.images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 80px;
}

.image-gallery {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.image-gallery img {
  max-width: 45%;
  height: auto;
  border: 2px solid #ddd;
  border-radius: 8px;
}
